@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg: #222222;
    --yelText: #DAA520;
    --redText: #DF1237;
}

* {
    font-family: 'Chivo';
}

.navList a {
    color: var(--yelText);
}

.headercontianer {
    color: var(--yelText);
}

.infocontainer {
    color: white;
}

.boxcontainer {
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.boxheader {
    display: flex;
    justify-content: center;
    color: var(--yelText);
    font-size: 30px;
}

.box {
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: black;
    text-align: center;
    box-shadow: 0 0 5px;
    color: var(--yelText);
}
   
button {
    background-color: gray;
    color: var(--yelText);
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

#btnSteal, #steal{
    color: rgb(18, 92, 18);
}

#btnMine, #mine{
    color: rgb(161, 29, 29);
}

#btnMine:hover, #btnSteal:hover, #btnGrab:hover {
    background-color: var(--yelText);
    color: black;
    border: solid 2px rgb(199, 195, 186);
}

.heroClass{
    display: flex;
    flex-direction: column;
    padding-left: 18vw;
}

.itemdescrip > p{
    color: white;
}