@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg: #222222;
    --yelText: #DAA520;
    --redText: #DF1237;
}

* {
    font-family: 'Chivo';
}

body {
    background-color: var(--bg);
}

.navbar {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.navbar > * {
    font-size: 1.5rem;
}

.pBid {
    color: var(--yelText);
    margin-right: auto;
    padding-left: 30px;
}

.pBid span {
    color: white;
    font-style: italic;
}

.pBid a {
    color: var(--yelText);
}

.navList {
    color: white;
    padding-right: 30px;
    font-style: normal;
}

.navList a {
    color: white;
}

.navLogin, .navReg {
    color: var(--yelText);
}

.navReg {
    padding-right: 30px;
}

.navLogin a {
    color: var(--yelText);
}

.navReg a {
    color: var(--yelText);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.pFB {
    color: var(--yelText);
    font-size: 5rem;
    height: 10rem;
}

.searchbar {
    border: 2px solid var(--yelText);
    font-size: 3rem;
    color: white;
    margin-left: 10px;
    margin-top: 50px;
    background-color: transparent;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.deadline {
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 5%;
    margin-top: 2rem;
}

.dl1 {
    font-size: 3rem;
}

.dl2 {
    margin-top: -50px;
}

.red-bar {
    width: 20px;
    height: 50%;
    background-color: var(--redText);
    position: absolute;
    top: 42%;
}

.dl-content {
    padding-left: 25px;
}

.dlCont {
    display: flex;
    padding-left: 5rem;
}

.itemsDL {
    display: inline-block;
    position: relative;
    width: 17rem;
    height: auto;
}

.item1 {
    border: 2px solid var(--yelText);
    position: relative;
}

.iteminfo {
    background: var(--yelText);
}

.item1 > * {
    padding-left: 20px;
}

.abtSect {
    width: 5rem;
    height: 5rem;
    display: flex;
    position: relative;
}

.about {
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #222222;
}

.footerContainer {
    width: 100%;
    color: gray;
}

.footertop {
    display: flex;
    justify-content: center;
}

.footertop h1 {
    font-size: 35px;
    color: white;
}

.footertop span {
    color: var(--yelText);
}

.footermiddle {
    display: flex;
    justify-content: center;
}

.footermiddle button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.footermiddle button:hover {
    background-color: var(--yelText);
}

.footerbottom {
    background-color: #222222;
    padding: 20px;
    text-align: center;
}

.footerbottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px
}

.loginCont{
    display: flex;
    gap: 50px;
}

.row{
    flex-direction: row;
    width: 100%;
}

.col{
    flex-direction: column;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 8rem;
    background-color: white;
    border-radius: 30px;
    padding-right: 20px;
    padding: 20px;
    margin-top: rem;
    border: solid black 3px;
}

.abtSect{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 95vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.aboutTitle{
    font-size: 30px;
}

.aboutTitle > h1{
    color: var(--yelText);
}

.aboutTitle > h1 > span{
    color: white;
}

.aboutDesc{
    color: white;
    text-align: center;
    flex-wrap: wrap;
    align-self: center;
    font-size: 20px;
    line-height: 40px;
}