:root {
    --bg: #222222;
    --yelText: #DAA520;
    --redText: #DF1237;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: var(--bg);
}

.navbar {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.navbar > * {
    font-size: 1.5rem;
}

.pBid {
    color: var(--yelText);
    margin-right: auto;
    padding-left: 30px;
}

.pBid span {
    color: white;
    font-style: italic;
}

.pBid a {
    color: var(--yelText);
}

.navList {
    color: white;
    padding-right: 30px;
    font-style: normal;
}

.navList a {
    color: white;
}

.navLogin, .navReg {
    color: var(--yelText);
}

.navReg {
    padding-right: 30px;
}

.navLogin a {
    color: var(--yelText);
}

.navReg a {
    color: var(--yelText);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
}

.pFB {
    color: var(--yelText);
    font-size: 5rem;
}

.searchbar {
    border: 2px solid var(--yelText);
    font-size: 3rem;
    color: white;
    margin-left: 10px;
    margin-top: -50px;
    background-color: transparent;
}

.container {
    float: right;
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 30px;
    padding-right: 20px;
    padding: 20px;
    border: solid black 3px;
}

a {
    text-decoration: none;
}

.deadline{
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 5%;
    margin-top: 2rem;
}

.dl1{
    font-size: 3rem;
}

.dl2{
    margin-top: -50px;
}

.red-bar{
    width: 20px;
    height: 50%;
    background-color: var(--redText);
    position: absolute;
    top: 42%;
}

.dl-content{
    padding-left: 25px;
}

.dlCont{
    display: flex;
    padding-left: 5rem;
}

.itemsDL{
    display: inline-block;
    position: relative;
    width: 17rem;
    height: auto;
}

.item1{
    border: 2px solid var(--yelText);
    position: relative;
}

.iteminfo{
    background: var(--yelText);
}

.item1 > * {
    padding-left: 20px;
}

.abtSect {
    width: 5rem;
    height: 5rem;
    display: flex;
    position: relative;
}

.about {
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
}