@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg: #222222;
    --yelText: #DAA520;
    --redText: #DF1237;
}

* {
    font-family: 'Chivo';
}

body {
    background-color: var(--bg);
}

.navbar {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.navbar > * {
    font-size: 1.5rem;
    font-weight: 700;
}

.pBid {
    color: var(--yelText);
    margin-right: auto;
    padding-left: 30px;
}

.pBid span {
    color: white;
    font-style: italic;
}

.pBid a {
    color: var(--yelText);
}

.navLogin, .navReg {
    color: var(--yelText);
}

.navLogin a {
    color: var(--yelText);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
    text-align: left;
    margin-left: 10%;
}

.hero span {
    color: white;
}

.pFB {
    color: var(--yelText);
    font-size: 5rem;
    font-weight: 700;
    height: 10rem;
}

.aHA{
    color: goldenrod;
}

.content span{
    font-weight: 700;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.loginCont{
    display: flex;
    gap: 50px;
}

.row{
    flex-direction: row;
    width: 100%;
}

.col{
    flex-direction: column;
    width: 100%;
}

.card{
    margin-top: 10%;
    margin-left: -30%;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: rgba(12, 1, 1, 0);
    border-radius: 10%;
    padding-right: 20px;
    padding: 50px;
    gap: 25px;
    box-shadow: 0 0 10px;
    color: goldenrod;
}

.uname{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-control{
    font-size: 20px;
    border-color: var(--yelText);
    background-color: transparent;
    color: white;
}

.form-label{
    color: var(--yelText);
}

.form-check-label{
    color: var(--yelText);
}

.btnlogin{
    padding: .6rem;
    margin-left: 20px;
    margin-right: 20px;
    background-color: goldenrod;
    color: black;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 20px;
    text-shadow: none;
}

.btnlogin:hover{
    background-color: white;
    color: black;
    font-size: 15px;
    border: 1px solid;
    border-radius: 20px;
    text-shadow: none;
}

.aHA:hover { 
    color: white;
    font-weight: 700; 
}

.aspan {
    color: white;
}

.aspan:hover{
    font-weight: 900;
}