@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg: #222222;
    --yelText: #DAA520;
    --redText: #DF1237;
}

* {
    font-family: 'Chivo';
}

body {
    background-color: var(--bg);
}

.navbar {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.navbar > * {
    font-size: 1.5rem;
}

.pBid {
    color: var(--yelText);
    margin-right: auto;
    padding-left: 30px;
}

.pBid span {
    color: white;
    font-style: italic;
}

.pBid a {
    color: var(--yelText);
}

.navList {
    color: white;
    padding-right: 30px;
    font-style: normal;
}

.navList a {
    color: var(--yelText);
}

.navLogin, .navReg {
    color: var(--yelText);
}

.navReg {
    padding-right: 30px;
}

.navLogin a {
    color: white;
}

.navReg a {
    color: var(--yelText);
}

.pFB {
    color: var(--yelText);
    font-size: 5rem;
    height: 10rem;
}

.searchbar {
    border: 2px solid var(--yelText);
    font-size: 3rem;
    color: white;
    margin-left: 10px;
    margin-top: 50px;
    background-color: transparent;
}

a {
    text-decoration: none;
}

footer {
    background-color: #222222;
}

.footerContainer {
    width: 100%;
    color: gray;
}

.footertop {
    display: flex;
    justify-content: center;
}

.footertop h1 {
    font-size: 35px;
    color: white;
}

.footertop span {
    color: var(--yelText);
}

.footermiddle {
    display: flex;
    justify-content: center;
}

.footermiddle button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.footermiddle button:hover {
    background-color: var(--yelText);
}

.footerbottom {
    background-color: #222222;
    padding: 20px;
    text-align: center;
}

.footerbottom p {
    color: white;
}

img {
    height: 250px;
    width: 250px;
    max-height: 100vw;
    max-width: 100vw;
    object-fit: scale;
}

.hero{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
}

.room, .creatediv{
    height: fit-content;
    width: fit-content;
}

.room > h1{
    color: var(--yelText);
    font-size: 70px;
}

#createBid{
    border: 2px solid;
    border-radius: 10px;
}

.bids{
    width: 100%;
}

table {
    margin-top: 3rem;
    width: 100%;
    border: 1px solid;
    font-size: 2rem;
    border-radius: 10px;
}

th{
    color: var(--yelText);
}

td {
    color: white;
}

.tdEdit {
    color: rgb(27, 100, 124);
}

.tdDel {
    color: red;
}